
<section>

<nav>
<br>
	<ul>
	<li> <a (click)="allerHome()">LessonAdvisor</a></li>
	<li> <a (click)="allerProfil()">Mon profil</a></li>
	<li> <a (click)="allerOrg()">Poster une sceance de cours</a></li>
	</ul>
</nav>

<form novalidate [formGroup]="formCreate" (ngSubmit)="create()" >
<table>
	<tr>
		<td colspan="2" *ngIf="mode == 1" class="title" >Nouveau Profil</td>
		<td colspan="2" *ngIf="mode == 2"> <img class="avatar" *ngIf="mode == 2" src="{{user.img}}"> </td>
	</tr>
	<tr>
		<td class="label" >Nom complet :</td>
		<td><input *ngIf="mode == 1" formControlName="nom" class="form-control" type="text" placeholder="nom prenom" />
        <span *ngIf="mode == 1 && formCreate.get('nom').hasError('required') && submited" class="error" >&lt; Requis!</span></td>
		<label *ngIf="mode == 2" >{{user.nom}}</label>
	</tr>
	<tr>
		<td class="label" >Ville :</td>
		<td><input *ngIf="mode == 1" formControlName="ville" class="form-control" type="text" />
        <span *ngIf="mode == 1 && formCreate.get('ville').hasError('required') && submited" class="error" >&lt; Requis!</span></td>
		<label *ngIf="mode == 2" >{{user.ville}}</label>
	</tr>
	<tr>
		<td class="label" >Telephone :</td>
		<td><input *ngIf="mode == 1" formControlName="tel" class="form-control" type="text" /></td>
		<label *ngIf="mode == 2" >{{user.tel}}</label>
	</tr>
	<tr>
		<td class="label" >Email :</td>
		<td><input *ngIf="mode == 1" formControlName="email" class="form-control" type="text" />
        <span *ngIf="mode == 1 && formCreate.get('nom').hasError('required') && submited" class="error" >&lt; Requis!</span></td>
		<label *ngIf="mode == 2" >{{user.email}}</label>
	</tr>
	<tr *ngIf="mode == 1" >
		<td class="label" >Confirmation Email :</td>
		<td><input class="form-control" type="email2" placeholder="confirme email" formControlName="email2" />
        <span *ngIf="mode == 1 && formCreate.get('email') != formCreate.get('email2') && submited" class="error" >&lt; les emails sont differents !</span></td>
	</tr>
	<tr *ngIf="mode == 1">
		<td class="label" >Mot de passe :</td>
		<td><input *ngIf="mode == 1" formControlName="pwd" class="form-control" type="password" />
        <span *ngIf="mode == 1 && formCreate.get('nom').hasError('required') && submited" class="error" >&lt; Requis!</span></td>
	</tr>
	<tr *ngIf="mode == 1">
		<td class="label" >Confirmation du mot de passe :</td>
		<td><input *ngIf="mode == 1" class="form-control" type="password" formControlName="pwd2" />
        <span *ngIf="mode == 1 && formCreate.get('pwd') != formCreate.get('pwd2') && submited" class="error" >&lt; les mots de passe sont differents !</span></td>
	</tr>
	<tr *ngIf="mode == 1">
		<td class="label" >Photo :</td>
		<td><input *ngIf="mode == 1" class="form-control" type="text" placeholder="URL" formControlName="img"/></td>
	</tr>
	<tr><td>* champs obligatoires</td></tr>
	<tr>
		<td></td>
		<td *ngIf="mode == 1" ><input type="submit"  class="user_button" value="Valider" /></td>
		<td *ngIf="mode == 2" ><button *ngIf="mode == 2" class="user_button" (click)="editer()">Editer</button></td>
	</tr>
</table>
</form>

</section>
