
section
{
	height: 100%;
  font-family: Arial, sans-serif;
  
  background-image: url("../../assets/img/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.title
{
	text-align:center;
	color: #F9DF05;
	
	font-family: "Noto Sans CJK SC Bold";
	font-variant: small-caps;
	font-size: 28px;
}

form
{
  margin-top:30px;
  margin-left:30%;
  width: 500px;
  height: 500px;
  background: rgba(0,0,0,0.5);
  box-shadow: -1px 4px 26px 2px rgba(0,0,0,0.75 );
  overflow-x: hidden;
}

.label
{
	text-align: right;
}

.avatar
{
  width: 400px;
  height: 200px;
  margin-left: 60px;
  border-radius: 50%;
  top: -50%;
  left: calc(50% - 50px);
}



