
<section>

<nav>
<br>
	<ul>
	<li> <a (click)="allerHome()">LessonAdvisor</a></li>
	<li> <a (click)="allerProfil()">Mon profil</a></li>
	<li> <a (click)="allerOrg()">Poster une sceance de cours</a></li>
	</ul>
</nav>

<form [formGroup]="formCreate" (ngSubmit)="create()" >
<table>
	<tr>
		<td colspan="2" *ngIf="mode == 1" class="title" >Nouveau Profil</td>
		<td colspan="2" *ngIf="mode == 2"> <img class="avatar" *ngIf="mode == 2" src="{{user.img}}"> </td>
	</tr>
	<tr>
		<td class="label" >Nom complet :</td>
		<td><input *ngIf="mode == 1" formControlName="nom" class="form-control" type="text" placeholder="nom prenom" /></td>
		<label *ngIf="mode == 2" >{{user.nom}}</label>
	</tr>
	<tr>
		<td class="label" >Ville :</td>
		<td><input *ngIf="mode == 1" formControlName="ville" class="form-control" type="text" /></td>
		<label *ngIf="mode == 2" >{{user.ville}}</label>
	</tr>
	<tr>
		<td class="label" >Telephone :</td>
		<td><input *ngIf="mode == 1" formControlName="tel" class="form-control" type="text" /></td>
		<label *ngIf="mode == 2" >{{user.tel}}</label>
	</tr>
	<tr>
		<td class="label" >Email :</td>
		<td><input *ngIf="mode == 1" formControlName="email" class="form-control" type="text" /></td>
		<label *ngIf="mode == 2" >{{user.email}}</label>
	</tr>
	<tr *ngIf="mode == 1" >
		<td class="label" >Confirmation Email :</td>
		<td><input class="form-control" type="email" placeholder="confirme email" /></td>
	</tr>
	<tr *ngIf="mode == 1">
		<td class="label" >Mot de passe :</td>
		<td><input *ngIf="mode == 1" formControlName="pwd" class="form-control" type="password" /></td>
	</tr>
	<tr *ngIf="mode == 1">
		<td class="label" >Confirmation du mot de passe :</td>
		<td><input *ngIf="mode == 1" class="form-control" type="password" /></td>
	</tr>
	<tr *ngIf="mode == 1">
		<td class="label" >Photo :</td>
		<td><input *ngIf="mode == 1" class="form-control" type="text" placeholder="URL" formControlName="img"/></td>
	</tr>
	<input type="submit" *ngIf="mode == 1" class="user_button" value="Valider" />
	<button *ngIf="mode == 2" class="user_button" (click)="editer(formCreate.value)">Editer</button>
</table>
</form>

</section>
