
<section>

<app-nav></app-nav>

<form [formGroup]='formOrg' (ngSubmit)="creerOrg()" >
<table>
	<tr>
    <td class="title" >Informations LessonAdvisor</td>
  </tr>
	
	<tr>
		<td class="label" >sNom :</td>
		<td> <input type="text" formControlName="name" />*
			<p class="error" *ngIf="formOrg.get('name').hasError('required') && submited">Requis!</p>
		</td>
	</tr>
	<tr>
		<td colspan="2" >
			<fieldset>
				<legend>Adresse</legend>
				<table>
					<tr>
						<td class="label" >Ville :</td>
						<td><input type="text" formControlName="ville" />*
							<p class="error"*ngIf="formOrg.get('ville').hasError('required') && submited">Requis!</p>
						</td>
					</tr>
					<tr>
						<td class="label" >Code postal :</td>
						<td><input type="text" formControlName="code" />*
							<p class="error" *ngIf="formOrg.get('code').hasError('required') && submited">Requis!</p>
						</td>
					</tr>
					<tr>
						<td class="label" >Rue :</td>
						<td><input type="text" formControlName="rue" />*
							<p class="error" *ngIf="formOrg.get('rue').hasError('required') && submited">Requis!</p>
						</td>
					</tr>
				</table>
			</fieldset>
		</td>
	</tr>
	<tr>
		<td class="label" >Email :</td>
		<td> <input type="text" formControlName="email" />*
			<p *ngIf="formOrg.get('email').hasError('required') && submited">Requis!</p>
		</td>
	</tr>
	<tr>
		<td class="label" >Site web :</td>
		<td> <input type="url" formControlName="site" /></td>
	</tr>
	<tr>
		<td class="label" >Telephone :</td>
		<td> <input type="tel" formControlName="tel" />*
			<p *ngIf="formOrg.get('tel').hasError('required') && submited">Requis!</p>
		</td>
	</tr>
	<tr>
		<td class="label" >Nombre de personnes :</td>
		<td> <input type="text" formControlName="capacity" /></td>
	</tr>
	<tr>
		<td class="label" >Description :</td>
		<td>
			<textarea name="desc" rows="10" cols="30" formControlName="desc" ></textarea>
		</td>
	</tr>
	<tr>
		<td class="label" >Photo :</td>
		<td> <input type="text" formControlName="photo" /></td>
	</tr>
	<tr>
		<td>*champs obligatoires</td>
	</tr>
	<tr>
		<td><input type="submit" class="user_button" value="Ajouter" /></td>
	</tr>
</table>
</form>

</section>
