

section
{
	height: 100%;
  font-family: Arial, sans-serif;
  background-image: url("../../assets/img/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.panel{
  border: 0px solid #fff;
  width: 45%;
  box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.60);
  background-color: rgba(0,0,0,0.6);
  padding-top: 5%;
  border-radius: 5%;
  position: relative;
  transition: 1s;
  right:5%;
  left: 5%;
  margin-top: 40px;
  color: white;
  text-shadow:0.1em 0.1em 0.5em white;
}
h5{
  text-align: right;
  color: #080004;
}
.panel:hover{
  background: rgba(0,0,0,0.0);
}
.lock{
  position: absolute;
  top: 5px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  left: 1%;
  background: rgba(0,0,0,0.1) !important;
  border: 3px outset #23daf9;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: -1px 4px 26px 11px  rgba(255,255,255,0.5);
  -moz-box-shadow: -1px 4px 26px 11px  rgba(255,255,255,0.5);
  box-shadow: -1px 4px 26px 11px  rgba(255,255,255,0.5);
}
.lock:hover{
  border: 3px outset #E91E63;
  background: rgba(0,0,0,0.7);
}
.fa {
  float: left;
  height: 60px;
  width: 90%;
  margin-top: 20px;
  margin-left: 2px;
  font-size: 24px;
}
.fa3{
  float: left;
  height: 40px;
  width: 80%;
  margin-top: 30px;
  margin-left: 11px;
  font-size: 24px;
}


