
<section>

	<nav>
	<br>
	<ul>
		<li> <a (click)="allerHome()">LessonAdvisor</a></li>
		<li> <a (click)="allerProfil()">Mon profil</a></li>
		<li> <a (click)="allerOrg()">Poster une sceance de cours</a></li>
	</ul>
	</nav>


        <div class="panel">
          <h5>Les cours a proximité</h5>
          <hr>
          <a class="lock" (click)="redirigerList()">
            <img src="../../assets/img/recherche.png" class="fa">
          </a>
        </div> <!-- panel -->
        <div class="panel">
          <h5>Tenez-vous au courant des avis des personne sur ses cours .... qui vous intéressent</h5>
          <hr>
          <a class="lock" (click)="redirigerList()">
            <img src="../../assets/img/recherche2.png" class="fa">
          </a>
        </div> <!-- panel -->
        <div class="panel">
          <h5>laisser un commentaire sur la personne de ce cour LessonAdvisor, afin de découvrir ce que les autres en pensent</h5>
          <hr>
          <a class="lock" (click)="allerOrg()">
            <img src="../../assets/img/listen.png" class="fa3">
          </a>
  </div>
</section>
